<div class = "body">
  <div class="form">
    <form (ngSubmit)="onSubmit()" [formGroup]="actorsForm">
      <div>
        <h3>ADD ACTOR TO GALLERY</h3>
      </div>
      <div class="form__item">
        <label for="name">Nombre</label>
        <input class="input" name="name" formControlName="name" type="text">
        <app-form-errors  *ngIf="submitted" [errors]="actorsForm.controls['name'].errors"></app-form-errors>

      </div>
      <div class="form__item">
        <label for="charact">Peliculas</label>
        <input class="input" name="charact" formControlName="charact" type="text">
        <app-form-errors *ngIf="submitted" [errors]="actorsForm.controls['charact'].errors"></app-form-errors>

      </div>
      <div class="form__item">
        <label for="img">Foto</label>
        <input class="input" placeholder="Url de la foto" name="img" formControlName="img" type="text">
        <app-form-errors *ngIf="submitted" [errors]="actorsForm.controls['charact'].errors"></app-form-errors>

      </div>
      <div class="form__item">
        <label for="age">Edad</label>
        <input class="input" name="age" formControlName="age" type="text" placeholder="opcional">
      </div>
      <div class="form__item">
        <label for="description">descripción</label>
        <textarea class="input" formControlName="description" name="description" id="description" cols="30" rows="10"></textarea>
        <app-form-errors *ngIf="submitted" [errors]="actorsForm.controls['description'].errors"></app-form-errors>

      </div>
      <div class="form__item">
        <label for="link">Enlace</label>
        <input class="input" name="link" formControlName="link" type="text" placeholder="Ej. enlace wikipedia">
        <app-form-errors *ngIf="submitted" [errors]="actorsForm.controls['link'].errors"></app-form-errors>

      </div>
      <div>
        <input class="form__item button"type="submit" value="Guardar Cambios">
        <app-submmit-ok *ngIf="submitted"  ></app-submmit-ok>
      </div>
    </form>
  </div>

  <div class="preview">
    <ng-container *ngIf="createdActor" >
    <h4>{{createdActor.name}}</h4>
    <img *ngIf="createdActor.img" src="{{createdActor.img}}" alt="{{createdActor.name}}" class="imgCard">
    <div>
      <p>{{createdActor.charact}}</p>
    </div>
    <div>
      <p>{{createdActor.description}}</p>
    </div>
  </ng-container>
  </div>
</div>
