

footer{
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin-top: 25px;
  bottom:0;
  .redes-sociales{

    padding:25px;
    display:flex;
    gap: 15px;
  img:hover{
    width: 3vw;
    box-shadow: 10px 10px 10px gray;
    transition:0.5s
  }
  }
  .right{

    padding-right: 20px;
  }
}
