<footer>
  <div class = "redes-sociales">
    <a href="https://www.linkedin.com/in/jose-antonio-espinosa-lucia-5491b2220/">
    <img class="logo" src="assets/images/linkedin.png" alt="li">
    </a>
    <a href="mailto:jaelespinosa@gmail.com">
    <img class="logo" src="assets/images/gmail.png" alt="mail">
  </a>
  <a href="https://www.instagram.com/jaelespinosa/?hl=es">
    <img class="logo" src="assets/images/instagram.png" alt="insta">
  </a>
  <a href="https://www.facebook.com/joseantonio.jael3">
    <img class="logo" src="assets/images/facebook.png" alt="facebook">
  </a>
  </div>
  <div class = "right">
    <h3>By jaelEspinosa ©</h3>
  </div>

</footer>
