
.gallery{

  padding-top: 50px;
  margin-top: 20px;
  margin-bottom: 150px;
 .card{
    margin: auto;
    background-color: rgb(245, 237, 227);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 225px;
    height: 250px;
     }
}


